{{- define "main" }}
{{- $isFrench := eq .Site.Language.Lang "fr" }}

<header class="page-header">
<h1>{{ .Title }} &nbsp;</h1>
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
        aria-label="{{ cond $isFrench "recherche" "search" }}" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" aria-label="{{ cond $isFrench "résultats de recherche" "search results" }}"></ul>
</div>

{{- end }}{{/* end main */}}
